<div class="content-lg">
  <div class="inner-content">
    <h3 class="content-title">Мои реквизиты</h3>
    <p class="color-title-gray f-16">У вас еще нет счета для вывода.</p>
    <div class="attention-block">
      <h4 class="mg-top-0">Обратите внимание!</h4>
      <p class="mg-bt-30">На этой странице находятся все ваши реквизиты для выплат. Если вы еще не создали их, то самое время приступить, иначе мы не сможем перечислить вам деньги.</p>
      <button type="button" class="btn btn-blue">Добавить реквизиты</button>
    </div>
  </div>
</div>
