<div class="content-lg gray">
  <div class="inner-content">
  <h3 class="content-title color-mid-gray">Мои реквизиты</h3>
  <div class="back">
    <a  [routerLink]="['/personal-data']"><img src="assets/img/icons/arrow-green.svg">Вернуться назад</a>
  </div>
  <div class="card-container">
    <div class="mg-bt-30"><span class="f-24">Сменить пароль / </span><a [routerLink]="['/change-number-2']" class="color-green-teal">Сменить телефон</a></div>
    <div class="card mg-bt-40">
        <div class="form-group-container">
          <div class="form-group">
            <label class="f-14">Старый пароль</label>
            <input
              type="tel"
              class="form-control"
              id="pwd-old"
              type="{{type_1}}"
              #password_1="ngModel"
              placeholder="Старый пароль"
              minlength="6"
              [(ngModel)]="oldpassword">
            <a *ngIf="type_1==='password'" (click)="typeInpShow_1()" class="eye"><img src="../../assets/img/icons/eye.svg"></a>
            <a *ngIf="type_1==='string'"(click)="typeInpHiden_1()" class="eye"><img src="../../assets/img/icons/eye-green.svg"></a>
          </div>
          <div class="form-group">
            <label class="f-14">Придумайте новый пароль</label>

            <input
              type="{{ type_2 }}"
              #password_2="ngModel"
              class="form-control"
              [(ngModel)]="newpassword_1"
              placeholder="Новый пароль"
              minlength="6"
              required>
            <a *ngIf="type_2==='password'" (click)="typeInpShow_2()" class="eye"><img src="../../assets/img/icons/eye.svg"></a>
            <a *ngIf="type_2==='string'"(click)="typeInpHiden_2()" class="eye"><img src="../../assets/img/icons/eye-green.svg"></a>
            <!--<a href="" class="eye"><img src="assets/img/icons/eye.svg"></a>-->
            <!--<a href="" class="eye active"><img src="assets/img/icons/eye-green.svg"></a>-->
          </div>
          <div class="form-group">
            <label class="f-14">Повторите новый пароль</label>
            <input
              type="{{ type_3 }}"
              #password_3="ngModel"
              class="form-control"
              [(ngModel)]="newpassword_2"
              id="pwd-new"
              placeholder="Новый пароль"
              minlength="6"
              required
              (keyup)="checkIdentity()"
              (keyup.enter)="changePasswords()">
            <a *ngIf="type_3==='password'" (click)="typeInpShow_3()" class="eye"><img src="../../assets/img/icons/eye.svg"></a>
            <a *ngIf="type_3==='string'"(click)="typeInpHiden_3()" class="eye"><img src="../../assets/img/icons/eye-green.svg"></a>
          </div>
          <div class="clearfix"></div>
        </div>
      <span class="note">Пароль должен содержать:<br>
						Не менее 6 символов<br>
						Цифры и латинские буквы<br>
						Заглавные и строчные буквы
					</span>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage !==''">
      <strong>{{ errorMessage }}</strong>
    </div>
    <button
      (click)="changePasswords()"
      type="button"
      class="btn btn-sky-blue"
      [disabled]="password_1.invalid || password_2.invalid || password_3.invalid || checkPasswordIdentity"
    >Сохранить пароль</button>
  </div>
</div>
</div>



<!--<div class="wrapper">-->
  <!--<div class="bg-container pull-left"></div>-->
  <!--&lt;!&ndash; Content &ndash;&gt;-->
  <!--<div class="content pull-right">-->
    <!--<div class="inner-content">-->
      <!--<div class="back pull-left">-->
        <!--<a [routerLink]="['/personal-data']">-->
          <!--<img src="assets/img/icons/arrow-green.svg">-->
          <!--Назад-->
        <!--</a>-->
      <!--</div>-->
    <!--<app-language-switcher></app-language-switcher>-->
      <!--<div class="clearfix"></div>-->
      <!--<h3 class="content-title">-->
        <!--Смена пароля-->
      <!--</h3>-->


      <!--<div class="form-group-container">-->
        <!--<div class="form-group">-->
          <!--<input-->
            <!--type="tel"-->
            <!--class="form-control"-->
            <!--id="pwd-old"-->
            <!--placeholder="Старый пароль"-->
            <!--[(ngModel)]="oldpassword">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<input-->
            <!--type="{{ type }}"-->
            <!--class="form-control"-->
            <!--[(ngModel)]="newpassword"-->
            <!--id="pwd-new"-->
            <!--placeholder="Новый пароль"-->
            <!--required-->
            <!--(keyup.enter)="changePasswords()">-->
          <!--<a *ngIf="type==='password'" (click)="typeInpShow()" class="change-link eye"><img src="../../assets/img/eye.svg"></a>-->
          <!--<a *ngIf="type==='string'"(click)="typeInpHiden()" class="change-link eye"><img src="../../assets/img/eye-dark.svg"></a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<hr>-->
      <!--<button-->
        <!--type="button"-->
        <!--class="btn btn-green"-->
        <!--(click)="changePasswords()">Сохранить</button>-->
      <!--<div class="agreement-block continue">-->
        <!--Нажимая кнопку «Сохранить», я даю согласие на обработку моих персональных данных в соответствии с <a class="color-green-teal">Условиями использования</a>-->
      <!--</div>-->
      <!--<div class="alert alert-danger" *ngIf="errorMessage !==''">-->
        <!--<strong>{{ errorMessage }}</strong>-->
      <!--</div>-->
      <!--<hr>-->
      <!--&lt;!&ndash;<div class="footer-help">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="">О сервисе</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="">Помощь</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="">Условия</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<footer class="footer">-->
      <!--<div class="footer-inner">Doctor Smart ©2017</div>-->
    <!--</footer>-->
  <!--</div>-->
  <!--<div class="clearfix"></div>-->
<!--</div>-->
