
.top-box{
  margin-bottom: 35px;
}
.border_red{
  border: 1px solid red !important;
}
.loader{
  position: absolute;
  top: 13px;
  right: -45px
}
#prdctSearch {
  display: inline-block;
}

#selectRoute {
  margin-left: 5%;
}

.drugs-routes {
  width: 250px;
  margin-left: 80px;
  display: inline-block;
  position: relative;
}

.select-styled-routes {
  position: relative;
}