<div class="wrapper">
  <div class="bg-container pull-left"></div>
  <!-- Content -->
  <div class="content pull-right">
    <div class="inner-content">
      <div class="back pull-left">
        <a [routerLink]="['/login']"><img src="assets/img/icons/arrow-green.svg">Назад</a>
      </div>
      <app-language-switcher></app-language-switcher>
      <div class="clearfix"></div>
      <h3 class="content-title">
        Сбросить пароль
      </h3>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group-container">
        <div class="form-group">
          <input
            [textMask]="{mask: mask,  guide: false, modelClean: true}"
            type="text"
            class="form-control"
            id="tel"
            name="phone_number"
            placeholder="Номер телефона"
            ngModel
            #phone="ngModel"
            minlength="18"
            required>
        </div>
      </div>
      <button
        [disabled]="f.invalid"
        type="submit"
        class="btn btn-green">Продолжить
      </button>
      </form>
      <!--<div class="footer-help">-->
        <!--<a href="">О сервисе</a>-->
        <!--<a href="">Помощь</a>-->
        <!--<a href="">Условия</a>-->
      <!--</div>-->
    </div>
    <!--<footer class="footer">-->
      <!--<div class="footer-inner">Doctor Smart ©2017</div>-->
    <!--</footer>-->
  </div>
  <!--<div class="clearfix"></div>-->
</div>
<app-footer></app-footer>
