<div class="content-lg">
  <div class="inner-content">
    <h3 class="content-title pull-left">Финансы</h3>
    <div class="summary-details-container">
      <div class="summary-details">
        <div class="item">
          <p>256 800 ₽</p>
          <p>Всего заработанно</p>
        </div>
        <div class="item">
          <p>45 250 ₽</p>
          <p>Заработанно от <br> 18 Января</p>
        </div>
        <div class="item">
          <p>8 500 ₽</p>
          <p>Можно вывести</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="history-table-container">
      <p class="summary-month color-mid-gray f-18">январь</p>
      <div class="history-table">
        <div class="history-table-row">
							<span class="desease-info">
								<div class="summary-day bg-lavender">30</div>
								<div>
									<h4 class="color-title-gray f-16">Сильный насморок и температура</h4>
									<p class="desease-text">Кажется, ты только начался, а уже пришла пора расставаться. У меня нет обид и сожалений. Ты сложился так, как я ожидала, исполнил все, на что я надеялась, и преподал мне много...</p>
								</div>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Пациент</h4>
								<div class="patient-info">
									<div class="pic-container"></div>
									<div>
										<p class="color-violet f-14 bold">Саманта Ли Охао</p>
										<p class="f-12">07.04.1994 (35 лет)</p>
									</div>
								</div>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Состояние</h4>
								<p class="color-green-teal f-14">Пациент здоров</p>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Заработано</h4>
								<p class="color-mid-gray f-30">350.00 ₽</p>
							</span>
        </div>

        <div class="history-table-row">
							<span class="desease-info">
								<div class="summary-day bg-lavender">30</div>
								<div>
									<h4 class="color-title-gray f-16">Сильный насморок и температура</h4>
									<p class="desease-text">Кажется, ты только начался, а уже пришла пора расставаться. У меня нет обид и сожалений. Ты сложился так, как я ожидала, исполнил все, на что я надеялась, и преподал мне много...</p>
								</div>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Пациент</h4>
								<div class="patient-info">
									<div class="pic-container"></div>
									<div>
										<p class="color-violet f-14 bold">Саманта Ли Охао</p>
										<p class="f-12">07.04.1994 (35 лет)</p>
									</div>
								</div>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Состояние</h4>
								<p class="color-mid-gray f-14">На лечении</p>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Заработано</h4>
								<p class="color-mid-gray f-30">350.00 ₽</p>
							</span>
        </div>
      </div>
    </div>


    <div class="history-table-container">
      <p class="summary-month color-mid-gray f-18">декабрь</p>
      <div class="history-table">
        <div class="history-table-row">
							<span class="desease-info">
								<div class="summary-day bg-red">25</div>
								<div>
									<h4 class="color-title-gray f-16">Сильный насморок и температура</h4>
									<p class="desease-text">Кажется, ты только начался, а уже пришла пора расставаться. У меня нет обид и сожалений. Ты сложился так, как я ожидала, исполнил все, на что я надеялась, и преподал мне много...</p>
								</div>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Пациент</h4>
								<div class="patient-info">
									<div class="pic-container"></div>
									<div>
										<p class="color-blue f-14 bold">Джо Трибиани</p>
										<p class="f-12">07.04.1994 (35 лет)</p>
									</div>
								</div>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Состояние</h4>
								<p class="color-green-teal f-14">Пациент здоров</p>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Заработано</h4>
								<p class="color-mid-gray f-30">350.00 ₽</p>
							</span>
        </div>

        <div class="history-table-row">
							<span class="desease-info">
								<div class="summary-day bg-red">16</div>
								<div>
									<h4 class="color-title-gray f-16">Сильный насморок и температура</h4>
									<p class="desease-text">Кажется, ты только начался, а уже пришла пора расставаться. У меня нет обид и сожалений. Ты сложился так, как я ожидала, исполнил все, на что я надеялась, и преподал мне много...</p>
								</div>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Пациент</h4>
								<div class="patient-info">
									<div class="pic-container"></div>
									<div>
										<p class="color-violet f-14 bold">Саманта Ли Охао</p>
										<p class="f-12">07.04.1994 (35 лет)</p>
									</div>
								</div>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Состояние</h4>
								<p class="color-green-teal f-14">Пациент здоров</p>
							</span>
          <span>
								<h4 class="color-title-gray f-16">Заработано</h4>
								<p class="color-mid-gray f-30">350.00 ₽</p>
							</span>
        </div>							<div class="history-table-row">
							<span class="desease-info">
								<div class="summary-day bg-red">10</div>
								<div>
									<h4 class="color-title-gray f-16">Сильный насморок и температура</h4>
									<p class="desease-text">Кажется, ты только начался, а уже пришла пора расставаться. У меня нет обид и сожалений. Ты сложился так, как я ожидала, исполнил все, на что я надеялась, и преподал мне много...</p>
								</div>
							</span>
        <span>
								<h4 class="color-title-gray f-16">Пациент</h4>
								<div class="patient-info">
									<div class="pic-container"></div>
									<div>
										<p class="color-blue f-14 bold">Саманта Ли Охао</p>
										<p class="f-12">07.04.1994 (35 лет)</p>
									</div>
								</div>
							</span>
        <span>
								<h4 class="color-title-gray f-16">Состояние</h4>
								<p class="color-green-teal f-14">Пациент здоров</p>
							</span>
        <span>
								<h4 class="color-title-gray f-16">Заработано</h4>
								<p class="color-mid-gray f-30">350.00 ₽</p>
							</span>
      </div>							<div class="history-table-row">
							<span class="desease-info">
								<div class="summary-day bg-red">05</div>
								<div>
									<h4 class="color-title-gray f-16">Сильный насморок и температура</h4>
									<p class="desease-text">Кажется, ты только начался, а уже пришла пора расставаться. У меня нет обид и сожалений. Ты сложился так, как я ожидала, исполнил все, на что я надеялась, и преподал мне много...</p>
								</div>
							</span>
        <span>
								<h4 class="color-title-gray f-16">Пациент</h4>
								<div class="patient-info">
									<div class="pic-container"></div>
									<div>
										<p class="color-violet f-14 bold">Саманта Ли Охао</p>
										<p class="f-12">07.04.1994 (35 лет)</p>
									</div>
								</div>
							</span>
        <span>
								<h4 class="color-title-gray f-16">Состояние</h4>
								<p class="color-green-teal f-14">Пациент здоров</p>
							</span>
        <span>
								<h4 class="color-title-gray f-16">Заработано</h4>
								<p class="color-mid-gray f-30">350.00 ₽</p>
							</span>
      </div>							<div class="history-table-row">
							<span class="desease-info">
								<div class="summary-day bg-red">01</div>
								<div>
									<h4 class="color-title-gray f-16">Сильный насморок и температура</h4>
									<p class="desease-text">Кажется, ты только начался, а уже пришла пора расставаться. У меня нет обид и сожалений. Ты сложился так, как я ожидала, исполнил все, на что я надеялась, и преподал мне много...</p>
								</div>
							</span>
        <span>
								<h4 class="color-title-gray f-16">Пациент</h4>
								<div class="patient-info">
									<div class="pic-container"></div>
									<div>
										<p class="color-violet f-14 bold">Саманта Ли Охао</p>
										<p class="f-12">07.04.1994 (35 лет)</p>
									</div>
								</div>
							</span>
        <span>
								<h4 class="color-title-gray f-16">Состояние</h4>
								<p class="color-green-teal f-14">Пациент здоров</p>
							</span>
        <span>
								<h4 class="color-title-gray f-16">Заработано</h4>
								<p class="color-mid-gray f-30">350.00 ₽</p>
							</span>
      </div>
      </div>
    </div>


  </div>
</div>
