<div class="wrapper">
  <div class="bg-container pull-left"></div>
  <!-- Content -->
  <div class="content pull-right">
    <div class="inner-content">

      <app-language-switcher></app-language-switcher>
      <div class="clearfix"></div>
      <h3 class="content-title">
        Регистрация
      </h3>
      <div class="alert alert-danger" *ngIf="errorMessage !==''">
        <strong>{{ errorMessage }}</strong>
      </div>
        <div class="form-group-container">



          <form (ngSubmit)="onSubmit(f)" #f=ngForm>
            <div class="form-group">
              <app-phone-prefix [(ngModel)]="registrationUser.phone_number"
                                name="phone"
                                [maxLength]="18"
                                locale="ru"
                                [class.error]="f.submitted && f.controls.phone.invalid">
              </app-phone-prefix>

              <span class="help-block errorInputColor"
                    *ngIf="f.submitted && f.controls.phone.invalid">
                Введите корректный номер телефона
              </span>
            </div>
            <div class="form-group password">
              <input
                type="{{ type }}"
                class="form-control pwd"
                id="pwd"
                name="pwd"
                placeholder="Пароль"
                [(ngModel)]="registrationUser.password"
                #pwd="ngModel"
                minlength="6"
                [class.error]="f.submitted && pwd.invalid"
                required
              >
              <a  class="change-link eye" id="eye">
                <img *ngIf="type==='password'" (click)="typeInpShow()" src="../../../../assets/img/eye.svg">
                <img *ngIf="type==='string'" (click)="typeInpHiden()"  src="../../../../assets/img/eye-dark.svg">
              </a>
            </div>

            <span class="help-block errorInputColor"
                  *ngIf="f.submitted && pwd.invalid">
                Пароль должен быть не менее 6 символов!
              </span>
            <button
              type="submit"
              class="btn submit-btn"
              [ngClass]="registrationUser.phone_number?'btn-green':'btn-gray'"
            >Продолжить</button>
          </form>
        </div>
      <hr>
      <button
        type="button"
        class="btn btn-blue"
        (click)="redirectStartPage()"
      >У меня уже есть аккаунт</button>
      <!--<div class="footer-help">-->
        <!--<a data-toggle="modal"-->
           <!--data-target="#myModal">О сервисе</a>-->
        <!--<a (click)="help()">Помощь</a>-->
        <!--<a data-toggle="modal"-->
           <!--data-target="#myModal2">Условия</a>-->
      <!--</div>-->
    </div>
    <!--<footer class="footer">-->
      <!--<div class="footer-inner">Doctor Smart ©2017</div>-->
    <!--</footer>-->
  </div>
  <!--<div class="clearfix"></div>-->
</div>

<!--&lt;!&ndash; Modal 1 &ndash;&gt;-->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">-->
          <!--<a aria-hidden="true">Закрыть</a></button>-->
        <!--<h4 class="modal-title" id="myModalLabel">О сервисе</h4>-->
      <!--</div>-->
      <!--<div class="modal-body"  [innerHtml]="privacy_policy_html">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Modal 2 &ndash;&gt;-->
<!--<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">-->
          <!--<a aria-hidden="true">Закрыть</a></button>-->
        <!--<h4 class="modal-title" id="myModalLabel2">Условия</h4>-->

      <!--</div>-->
      <!--<div class="modal-body"  [innerHtml]="service_rules_html">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<app-footer></app-footer>
