<div class="wrapper">
  <div class="bg-container small pull-left"></div>
  <!-- Content -->
  <div class="content full pull-right">
    <div class="inner-content">
      <div class="back pull-left">
        <a href=""><img src="assets/img/icons/arrow-green.svg">Назад</a>
      </div>
      <app-language-switcher></app-language-switcher>
      <div class="clearfix"></div>
      <div class="reg-test-content">
        <div class="reg-test-head">
          <span class="pull-left">Вопрос: <span>20</span> из <span>45</span></span>
          <span class="pull-right">У вас осталось: <span>48:20 мин</span></span>
          <div class="clearfix"></div>
        </div>
        <p class="test-question-block">Беременность 3 недели от зачатия. В первый день задержки менструации приняла два
          пакетика Ринза
          от простуды. Каковы возможные последствия?</p>
        <div class="reg-test-check-list">
          <form>
            <div class="checkbox-info round mg-bt-15">
              <input type="checkbox" name="">
              <label>
                Ультразвуковая диагностика
              </label>
            </div>
            <div class="checkbox-info round mg-bt-15">
              <input type="checkbox" name="">
              <label>
                Больно трогать это место
              </label>
            </div>
            <div class="checkbox-info round mg-bt-15">
              <input type="checkbox" name="">
              <label>
                Очень неприятный вкус во рту
              </label>
            </div>
            <div class="checkbox-info round mg-bt-15">
              <input type="checkbox" name="">
              <label>
                Это связано с перекрученным желчным пузырем
              </label>
            </div>
          </form>
        </div>
        <p class="test-question-time-left">Вопрос ограничен по времени! У вас осталось <b>10 секунд.</b></p>
        <div class="user-info row">
        </div>
        <div class="flex-row-center user-info-continue">
          <div class="col_md_4">
            <hr>
            <button type="button" class="btn btn-green">Далее</button>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="clearfix"></div>
  <div class="footer-help-full full pull-right flex-row-center">
    <div class="col_md_4">
      <div class="footer-help">
        <a href="">О сервисе</a>
        <a href="">Помощь</a>
        <a href="">Условия</a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<footer class="footer full">
  <div class="footer-inner">Doctor Smart ©2017</div>
</footer>
