<!--<div class="choose-lng">-->
  <!--<div class="form-group form-dropdown lng">-->
    <!--<div class="select">-->
      <!--<div class="caret-img"></div>-->
      <!--<div class="select-styled" (click)="onActive()" [ngClass]="{'active': active}" ><img [src]="defaultLng.img">{{defaultLng.name}}</div>-->
      <!--<ul class="select-options">-->
        <!--<li *ngFor="let lng of languages" (click)="onSelectLng(lng.name, lng.img)"><img [src]="lng.img">{{lng.name}}</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
