<div class="content-lg">
  <div class="inner-content">
    <h3 class="content-title pull-left">Заявки на вывод средств</h3>
    <div class="summary-details-container">
      <div class="summary-details">
        <div class="item">
          <p>256 800 ₽</p>
          <p>Всего заработанно</p>
        </div>
        <div class="item">
          <p>45 250 ₽</p>
          <p>Заработанно от <br> 18 Января</p>
        </div>
        <div class="item">
          <p>8 500 ₽</p>
          <p>Можно вывести</p>
        </div>
        <div class="item">
          <button type="button" class="btn btn-sky-blue">Оформить вывод</button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="summary-table-head">
      <span>Дата заявки</span>
      <span>Дата вывода</span>
      <span>ID</span>
      <span>состояние</span>
      <span>сумма</span>
      <span>счет для вывода</span>
    </div>

    <div class="summary-table-container">
      <p class="summary-month color-mid-gray f-18">декабрь</p>
      <div class="summary-table">
        <div class="summary-table-row">
							<span>
								<p>20:26</p>
								<p>30.10.2018</p>
							</span>
          <span>
								<p>09:00</p>
								<p>02.11.2018</p>
							</span>
          <span>
								10080
							</span>
          <span class="color-mid-gray">
								В ожидании
							</span>
          <span>
								8 500 ₽
							</span>
          <span>
								<p>**** **** **** 5800</p>
								<p class="color-mid-gray">Альфа-Банк</p>
							</span>
        </div>

        <div class="summary-table-row">
							<span>
								<p>20:26</p>
								<p>30.10.2018</p>
							</span>
          <span>
								<p>09:00</p>
								<p>02.11.2018</p>
							</span>
          <span>
								10080
							</span>
          <span class="color-green-teal">
								Зачислено
							</span>
          <span>
								8 500 ₽
							</span>
          <span>
								<p>**** **** **** 5800</p>
								<p class="color-mid-gray">Альфа-Банк</p>
							</span>
        </div>
      </div>
    </div>

    <div class="summary-table-container">
      <p class="summary-month color-mid-gray f-18">ноябрь</p>
      <div class="summary-table">
        <div class="summary-table-row">
							<span>
								<p>20:26</p>
								<p>30.10.2018</p>
							</span>
          <span>
								<p>09:00</p>
								<p>02.11.2018</p>
							</span>
          <span>
								10080
							</span>
          <span class="color-mid-gray">
								В ожидании
							</span>
          <span>
								8 500 ₽
							</span>
          <span>
								<p>**** **** **** 5800</p>
								<p class="color-mid-gray">Альфа-Банк</p>
							</span>
        </div>

        <div class="summary-table-row">
							<span>
								<p>20:26</p>
								<p>30.10.2018</p>
							</span>
          <span>
								<p>09:00</p>
								<p>02.11.2018</p>
							</span>
          <span>
								10080
							</span>
          <span class="color-coral">
								Отменён
							</span>
          <span>
								8 500 ₽
							</span>
          <span>
								<p>**** **** **** 5800</p>
								<p class="color-mid-gray">Альфа-Банк</p>
							</span>
        </div>
      </div>
    </div>

  </div>
</div>
