<div class="wrapper">
  <div class="bg-container pull-left"></div>
  <!-- Content -->
  <div class="content pull-right">
    <div class="inner-content">
      <div class="back pull-left">
        <a routerLink="/personal-data" ><img src="assets/img/icons/arrow-green.svg">Назад</a>
      </div>
     <app-language-switcher></app-language-switcher>
      <div class="clearfix"></div>
      <h3 class="content-title">
        Сбросить пароль
      </h3>

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group-container">
        <div class="form-group">
          <input
            type="tel"
            class="form-control"
            id="tel"
            name="phone_number"
            [textMask]="{mask: mask,  guide: false, modelClean: true}"
            placeholder="Номер телефона"
            value="{{phone}}"
            [(ngModel)]="phone"
            readonly
          >
        </div>
        <div class="form-group">
          <input
            type="text"
            name="confirm"
            class="form-control"
            [(ngModel)]="confirmationCode"
            placeholder="Код из SMS"
          required>
        </div>
        <div class="form-group">
          <input
            type="{{ type }}"
            class="form-control"
            [(ngModel)]="new_pass"
            name="password"
            minlength="6"
            required
            placeholder="Новый пароль">
          <a  class="change-link eye" id="eye">
            <img *ngIf="type==='password'" (click)="typeInpShow()" src="../../../../assets/img/eye.svg">
            <img *ngIf="type==='string'" (click)="typeInpHiden()"  src="../../../../assets/img/eye-dark.svg">
          </a>
        </div>
      </div>
      <hr>
      <button
        [disabled]="f.invalid"
        type="submit"
        class="btn btn-green">Продолжить
      </button>

      </form>


      <hr>
      <p
        *ngIf="count_resend"
        class="code-time">Вы сможете запросить <br> повторный код через: {{countDown | async}} сек.</p>
      <a
        *ngIf="!count_resend"
        (click)="resendCode()"
        class="double-code color-green-teal">Выслать повторный код</a>
      <!--<div class="footer-help">-->
        <!--<a href="">О сервисе</a>-->
        <!--<a href="">Помощь</a>-->
        <!--<a href="">Условия</a>-->
      <!--</div>-->
    </div>
    <!--<footer class="footer">-->
      <!--<div class="footer-inner">Doctor Smart ©2017</div>-->
    <!--</footer>-->
  </div>
  <!--<div class="clearfix"></div>-->
</div>

<app-footer></app-footer>
